<table>
  <tr>
    <th>Rate id</th>
    <th>Rate</th>
    <th>Currency</th>
    <th>Carrier</th>
    <th>Service</th>
    <th>Select Rate<th>
  </tr>
  <% shipment.rates.each do |rate| %>
  <tr>
    <td><%= rate.id %></td>
    <td><%= rate.rate %></td>
    <td><%= rate.currency %> </td>
    <td><%= rate.carrier %></td>
    <td><%= rate.service %></td>
    <td>
      <form action = "/shipment/<%= rate.shipment_id %>/buy" method = "post">
        <button type="submit" name="rate" value="<%=rate.id%>">Buy</button>
      </form>
    </td>
  </tr>
  <% end %>
</table>
